DistributedMcda/Demo/Service References/ServiceReference/CalculatingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/CalculationService/CalculatingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" />
  <xs:import schemaLocation="http://localhost:8090/CalculationService/CalculatingService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="DeleteTaskResult" nillable="true" type="q1:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMethods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="GetAllMethodsResult" nillable="true" type="q2:ArrayOfMethodDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="inputParameters" nillable="true" type="q3:ArrayOfKeyValuePairOfstringArrayOfArrayOfdoublety7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="CalculateResult" nillable="true" type="q4:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="GetResultResult" nillable="true" type="q5:CalculationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>