DistributedMcda/Demo/Service References/AdminServiceReference/Administration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/CalculationService/Administration?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" />
  <xs:import schemaLocation="http://localhost:8090/CalculationService/Administration?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="DeleteTaskResult" nillable="true" type="q1:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetAllTasksResult" nillable="true" type="q2:ArrayOfKeyValuePairOfTaskPoolArrayOfTaskInfo5byVVVPs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrioritizeTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrioritizeTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="PrioritizeTaskResult" nillable="true" type="q3:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="pool" type="q4:TaskPool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CalculatingEngine.Data" minOccurs="0" name="DeleteAllResult" nillable="true" type="q5:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>